.App {
  text-align: center;
  background-color: rgb(232, 229, 229);
}

.display {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;

}

.list {
  overflow-y: auto;
  height: 75vh;
  min-width: 45vh;
}

.map {
  height: 75vh;
}

.topPanel {
  height: 25vh;
}