.App {
  text-align: center;
}

.display {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;

}

.list {
  overflow-y: auto;
  height: 75vh;
}

.map {
  height: 75vh;
}

.topPanel {
  height: 25vh;
}