.App {
  min-width: 700px;
  text-align: center;
  background-color: rgb(232, 229, 229);
}

.display {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  min-width: 700px;
}

.list {
  overflow-y: auto;
  height: 85vh;
  min-width: 45vh;
}

.map {
  height: 85vh;
}

.topPanel {
  text-align: center;
  display: flex;
  height: 100%;
  border-color: darkgray;
  border-style: none none solid none;
  border-width: 3px;
  margin: 0 50px 10px 50px;
  padding-top: 10px;
  /* min-height: 150px; */
  justify-content: center;
}