.SearchBar {
    width: 20%;
}

.TopPanel {
    position: center;
    text-align: center;
    align-items: center;
    margin: 5px;
    /* display: flex;
    flex-direction: column; */
}

div.form-group {
    margin-bottom: 0;
}
